body{
    background: #ddd;
    font-family: "serif";
  }
  .popup-center{
    width: 500px;
    height: 250px;
    background: #f5f5f5;
    border: 1px solid #49B6AF;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 2;
    text-align: center;
    opacity: 0;
  }
  .popup-center.active{
    opacity: 1;
  }
  .popup-title{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 600;
  }
  .popup-description{
    font-size: 15px;
    padding: 5px;
    margin: 10px 0px;
  }
  #popup-new-game-btn{
    padding: 10px;
    border-radius: 10px;
    background: #49B6AF;
    font-weight: 600;
    cursor: pointer;
  }
  #popup-new-game-btn:hover{
    color: #ffffff;
    background: #000000;
  }