*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    background-color: #CD5C5C;
    height: 10vh;
    text-align: center;
}
nav h1{
    padding-top: 5vh;
}

.div-main{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: auto;
}

.div-cases{
    cursor: pointer;
    margin-right: 1em;
    margin-bottom: 1em;
    width: 150px;
    height: 100px;
    background-color: indianred;
}

.div-row{
    width: fit-content;
    height: fit-content;
    display: flex;
}