*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
}
#container{
    margin: 0 auto;
    width: auto;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
.container1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2f 1.5fr;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
}
nav{
    background-color: #AD5D5D;
    height: 10vh;
    text-align: center;
}

main h2{
    text-align: center;
}
/* test*/
nav h1{
    padding-top: 5vh;
}
section h2{
    text-align: center;
    padding-top: 5vh;

}

.div-main{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 5em;
    padding: 2em;
    background-color: #666666;
    border-radius: 2%;
}

.title{
    text-align: center;
    padding: 1em;
    color: #FFF;
}

.div-cases{
    cursor: pointer;
    margin: 0.6em;
    width: 14em;
    height: 11em;
    background-color: lightsteelblue;
    border-radius: 1em;
    opacity: 1;
}

h1{
    margin-top: 0.125em;
    margin-bottom: 0.25em;

}

.div-row{
    width: fit-content;
    height: fit-content;
    display: flex;


}

.player1, .player2{
    margin-left: auto;
    margin-right: auto;
}

.player1 p{
    width:200px;
    padding: 1em;
    background: linear-gradient(
45deg
, rgba(92, 255, 244, 0.92), transparent);
    position: relative;
    top: 30em;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: #313133;
    height: 3em;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    z-index: 0;
    border-radius: 8em;
    font-weight: bold;
    transition: all .5s;
    
    
    
}

.player1 p:hover, .player2 p:hover{
    color: #FFF;
    background: linear-gradient(
        45deg
        , rgba(58, 154, 154, 0.92), transparent);
       
      
}


.player2 p{
    width:200px;
    padding: 1em;
    background: linear-gradient(
        45deg
        , rgba(92, 255, 244, 0.92), transparent);
    position: relative;
    top: 30em;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    height: 3em;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    z-index: 0;
    border-radius: 8em;
    transition: all .5s;
}

/**********************page index.html*********/

#container_index{
    margin: 0 auto;
    width: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

.bloc_title{
    margin-top: 3em;
}

.player-box{
    margin: 0 auto;
    color: #FFF;
    margin-bottom: 2em;

}

.bloc_input{
    margin: 3em;
    display: flex;
    flex-direction: column;
    padding-right: 3em;
    
}

.bloc_input input{
    font-size:18px;
    padding:10px 10px 10px 5px;
    width: auto;
    border:none;
    border-bottom:1px solid #757575
}
.bloc_input label{
    pointer-events:none;
    text-transform: uppercase;
}

input:focus{
     outline:none; 
}

.x, .img_circ{
    margin-left: 3em;
}

.img_circ img{
    margin-top: 1em;
    width: 5em;
    position: absolute;
    top: 8em;
    margin-left: 0.5em;
}

.x img{
    margin-top: 1em;
    width: 4em;
    position: absolute;
    top: 13em;
    margin-left: 1em;
}

.inp1, .inp2{
    margin-left: 3em;
}

.playgame a{
    text-decoration: none;
    color: #313133;
    font-size: larger;
}

.playgame button{
    width:200px;
    padding: 1em;
    background: linear-gradient(
        45deg
        , rgba(92, 255, 244, 0.92), transparent);
    position: relative;
    top: 5em;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    height: 3em;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    z-index: 0;
    border-radius: 8em;
    transition: all .5s;
    margin-left: 3em;
}

.name1, .name2{
    margin-right: 2em;
}